NEXT_PUBLIC_SUPABASE_URL=https://hsqhmaxefdyqotiwwyfl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_UwZpEXKbINMxBDdeK_no2w_--xr7VjL
DATABASE_URL=postgresql://postgres.hsqhmaxefdyqotiwwyfl:StockAIWorksh@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
